<main class="mainBaby">
    <div class="cardBaby">
      <div class="heroBaby">
        <h1>ALOHA!</h1>
        <p>acompañanos a celebrar el</p>
        <h2>Baby Shower</h2>
      </div>
      <div class="imgBaby">
        <img src="assets/img/huevo-stich.png" alt="">
      </div>
      <div class="nombreBaby">
        <span>- de -</span>
        <h2>Luciel Santiago</h2>
      </div>
      <div class="invitadoBaby" *ngFor="let dato of datos">
        <span>- ¡Te esperamos! -</span>
        <h3>{{ dato.nombreCompleto}}</h3>
        <span *ngIf="dato.acompaniante != '' " >y</span>
        <h3 *ngIf="dato.acompaniante != '' " > {{ dato.acompaniante }}</h3>
      </div>
      <div class="dividerZoneBbay"></div>
      <div class="informationBaby">
        <span class="dateBaby">
          domingo
          14 de
          abril      
        </span>
        <div class="divider"></div>
        <span class="directionBaby">
          av. Prueba tablada de lurin - villa maria del triunfo
        </span>
        <div class="divider"></div>
        <span class="timeBaby">
          6:00 Pm
        </span>
      </div>
      <div class="dividerZoneBbay"></div>
      <div class="buttonsBaby">
        <a class="mapsBaby" target="_blank" href="https://www.google.com/maps?ll=-12.186517,-76.923371&z=20&t=m&hl=es-419&gl=PE&mapclient=embed&cid=705194830899279233">Como llegar</a>
        <a *ngFor="let dato of datos" class="mapsBaby buttonB" target="_blank" href="https://api.whatsapp.com/send?phone=+51932540198&text=%C2%A1Hola%21%20%F0%9F%8E%89%20Somos%20{{ dato.nombreCompleto}}%20y%20{{ dato.acompaniante }}%20y%20estamos%20emocionados%20de%20confirmar%20que%20asistiremos%20al%20baby%20shower.%20%F0%9F%8D%BC%20No%20puedo%20esperar%20para%20celebrar%20este%20momento%20tan%20especial%20juntos%20y%20dar%20la%20bienvenida%20al%20nuevo%20miembro%20de%20la%20familia.%20%C2%A1Nos%20vemos%20pronto%20para%20compartir%20risas%2C%20amor%20y%20muchos%20pa%C3%B1ales%21%20%F0%9F%98%84%E2%9D%A4%EF%B8%8F">Confirmar asistencia</a>
      </div>
    </div>
</main>